[Unit]
Description=Rclone media backup to router_g
After=rclone-backup.service
ConditionPathIsMountPoint=/mnt/router_g

[Service]
Type=oneshot
User=steven
ExecStart=/usr/bin/rclone sync /mnt/1tb/onedrive/Pictures /mnt/router_g/Media/Pictures --log-file=/var/log/rclone-router-sync.log --log-level=INFO
ExecStart=/usr/bin/rclone sync /mnt/1tb/onedrive/Videos /mnt/router_g/Media/Videos --log-file=/var/log/rclone-router-sync.log --log-level=INFO
ExecStart=/usr/bin/rclone sync /mnt/1tb/onedrive/Music /mnt/router_g/Media/Music --log-file=/var/log/rclone-router-sync.log --log-level=INFO